.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

// @media (min-width: 1600px) {
//     .container {
//         max-width: #{$maxWidth}px;
//     }
// }
